html {
  font-family: "Merriweather", Helvetica;
}

body {
  margin: 0;
  padding: 0;
}

.contact-info{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #E3AE68;
  width: 550px;
}

.contact-info h1{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.contact-info p{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.contact-info a{
  text-decoration: none;
  color: black;
}

.contact-info a:hover{
  text-decoration: underline;
}

