header {
  display: flex;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #E3AE68;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  width: 350px;
}

header a {
  text-decoration: none;
  color: black;
}

header .heading a:hover{
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header .heading {
  font-size: 40px;
  font-family: "Merriweather", Helvetica;
  font-weight: 700;
  color: black;
  margin: 0;
}

header .heading img {
  width: 50px;
  height: 50px;
}

header .right-buttons img{
  width: 35px;
  height: 35px;
}

header .right-buttons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-end;
  width: 350px;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
  font-size: 16px;
  font-weight: 500;
}