html {
  font-family: "Merriweather", Helvetica;
}

body {
  margin: 0;
  padding: 0;
}

.products{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
}

.product{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 3px solid #E3AE68;
  border-radius: 10px;
}

.product img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.product button{
  background-color: #E3AE68;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}